<!doctype html>
<html lang="pt-br">

	<head>
		<title> Contatos </title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	</head>

	<body>
		<div class="container">
			<h1 class="orange-text text-accent-4"> Gerenciador Firebase de Contatos </h1>
		